$backgroundBlock:#e2e2e2;
$backgroundWhite:#e4e4e4;
$borderItem:rgb(179, 179, 179);
$backgroundItemHover:rgb(175, 175, 175);
$colorLink:#000;
$backgroundTable:#909090;
$colorWhite:#fff;
$colorCardHover:rgb(68, 172, 146);